[submodule "Linux-Shell"]
	path = Linux-Shell
	url = https://github.com/Manvi-Agrawal/Linux-Shell
[submodule "P2P"]
	path = P2P
	url = https://github.com/Manvi-Agrawal/P2P
[submodule "Modified-Dining-Philospher"]
	path = Modified-Dining-Philospher
	url = https://github.com/Manvi-Agrawal/Modified-Dining-Philospher.git
